<!DOCTYPE html>
<html>
    <head>
        <title>Fleamarket</title>
        <script type="text/javascript" src="js/index.js" defer></script>
    </head>
    <body>
        <div class="root"></div>
        <div class="main">
            <div class="main_header"></div>
            <div class="main_contents">
                <div class="main_contents_wrap">
                    <div class="main_content_element">
                        <div class="content_img_box"></div>
                        <div class="content_info_box">
                            <div class="word_info">
                                <p class="title"></p>
                                <p class="locate_time"></p>
                                <p class="price"></p>
                            </div>
                            <div class="icon_info">
                                <div class="heart">
                                    <img />
                                </div>
                                <div class="comment">
                                    <img />
                                    <p class="num"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
