form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form > div {
    width: 600px;
    padding: 60px 0px 60px 0px;
}
form > div > input {
    width: 300px;
    border: none;
    font-size: 30px;
}
form > div > textarea {
    border: none;
    width: 600px;
    resize: none;
    font-size: 30px;
    font-family: "Noto Sans KR";
    font-weight: bold;
}
form > div > input:focus,
form > div > textarea:focus {
    outline: none;
}
form > div:not(:last-child):not(:nth-last-child(2)) {
    border-bottom: #999 solid 1px;
}
form > .contents_add_img {
    display: flex;
    flex-direction: row;
}
form > .contents_add_img > .img_container > img {
    width: 80px;
    height: 80px;
    border: #999 solid 1px;
    border-radius: 10px;
    margin: 0px 7px 0px 7px;
}
form > .contents_add_img > .img_container > button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 7px;

    position: relative;
    width: 15px;
    height: 15px;
    left: 44%;
}
form > .contents_add_img > .img_container > button:hover {
    background-color: #888;
}
form > .contents_add_img > .add_img_box > label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: #999 solid 1px;
    background-color: #dfdfdf;
    cursor: pointer;
}
form > .contents_add_img > .add_img_box > input {
    display: none;
}
form > .contents_add_locate {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    width: 100%;
    height: 80px;
    bottom: 0px;
    border-top: black solid 1px;
    padding: 0px 0px 0px 0px;
}
form > .contents_add_locate {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    width: 100%;
    height: 80px;
    bottom: 0px;
    border-top: black solid 1px;
    padding: 0px 0px 0px 0px;
}
form > .contents_add_locate > img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
form > .contents_add_locate > input {
    width: 80px;
    font-size: 25px;
}
