.heart {
    width: 20px;
    height: 20px;
    border-bottom: #999 solid 1px;
    border-right: #999 solid 1px;
}
.heart::before {
    content: "";
    width: 20px;
    height: 20px;
    left: 91%;
    position: absolute;
    border-radius: 100%;
    border-left: #999 solid 1px;
}
.heart::after {
    content: "";
    width: 20px;
    height: 20px;
    top: -1%;
    position: absolute;
    border-radius: 100%;
    border-top: #999 solid 1px;
}
.header {
    display: flex;
    align-items: center;
    background-color: #eee;
    border-bottom: #aaa solid 1px;
    height: 100px;
}
.header > button {
    background-color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 80%;
}
.header > button > img {
    width: 30px;
    height: 30px;
}
.header > a {
    position: absolute;
    left: 20%;
}
.header > a > img {
    width: 30px;
    height: 40px;
}
.header > p {
    position: absolute;
    left: 48%;
    font-size: 30px;
    font-weight: bold;
}
.inactive {
    opacity: 0.5;
}
.white {
    background-color: white;
}
