.heart {
    width: 20px;
    height: 20px;
    border-bottom: #999 solid 1px;
    border-right: #999 solid 1px;
}
.heart::before {
    content: "";
    width: 20px;
    height: 20px;
    left: 91%;
    position: absolute;
    border-radius: 100%;
    border-left: #999 solid 1px;
}
.heart::after {
    content: "";
    width: 20px;
    height: 20px;
    top: -1%;
    position: absolute;
    border-radius: 100%;
    border-top: #999 solid 1px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    border-bottom: #aaa solid 1px;
    height: 100px;
}
.header > img {
    position: relative;
    right: 40%;
    width: 30px;
    height: 40px;
}
.header > p {
    position: relative;
    font-size: 30px;
    font-weight: bold;
}
